@use '../utils/variables' as *;
@use '../utils/mixins' as *;

.contacts-container {
  text-align: center;
}

.contacts-list {
  list-style: none;
  margin-top: $spacing-lg;

  li {
    @include flex-center();
    margin-bottom: $spacing-md;
  }

  a {
    color: $primary-color;
  }
}